{% capture image %} style="background-image: url(res/{{ page.bg-image }});"{% endcapture %}

<div class="header"{% if page.bg-image %}{{ image }}{% endif %}>
    
    {% include title.html %}

    {% if site.nav %}
    <nav class="page-navigation">
        {% comment %}<h2>Nawigacja</h2>{% endcomment %}
        <ul{% if site.nav-overlay %}{{ ' class="overlay"' }}{% endif %}> 
            {% for nav-item in site.nav %}
            <li><a href="{{ nav-item.url }}">{{ nav-item.title }}</a></li>
            {% endfor %}
        </ul>
        
    </nav>
    {% endif %}
</div>