

html {
    font: $prime-font;

    @include gt900 {
        font-size: 22px;
    }

    @include gt1200 {
        font-size: 26px;
    }
}

body {
    background: $main-bg-color;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: $accent-color;

    &:hover, &:focus {
        text-decoration: underline;
        color: lighten($accent-color, 15%);
    }

    // &:visited {
    //     color: darken($accent-color, 5%);
    // }
}