

.main {
    color: $main-font-color;

    p, blockquote, figure {
        margin-top: 1rem;
    }

    ol, ul {
        margin-bottom: 1rem;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: $title-font-color;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: square;
    }

    li {
        margin-left: 1rem;
    }

    blockquote {
        padding: 0 1rem;
        font-style: italic;
        font-size: 0.9em;
        border-left: 0.33rem solid $accent-color;
        color: $title-font-color;
    }

    img {
        max-width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        @include lt600 {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
    }

    td, th {
        padding: 5px 10px;
        border-bottom: 1px solid #434343;
    }
}

main {
    padding: 0rem 1rem 3rem;
    position: relative;
}

@include gt800 {
    .header + .main {
        margin-left: $side-width;
    }

    .main {
        min-height: calc(100vh - #{$footer-height});
        max-width: 1200px;
    }
}

@include gt1500 {
    .header + .main {
        margin-left: 25%;
    }
}