

.main {
    color: $main-font-color;

    h1, h2, h3, h4, h5, h6,
    p, blockquote, pre,
    dl, dd, ol, ul, figure {
        margin-top: 15px;
    }
}

main {
    //padding: 20px 5%;
    padding: 2rem 1rem;
    position: relative;
}

@include gt800 {
    .header + .main {
        margin-left: $side-width;
    }

    .main {
        min-height: calc(100vh - #{$footer-height});
        max-width: 1200px;
    }
}

@include gt1500 {
    .header + .main {
        margin-left: 25%;
    }
}