

$header-font-color  : #fff !default;
$header-bg-color    : #000 !default;
$main-font-color    : #330 !default;
$main-bg-color      : #bbb !default;
$footer-bg-color    : darken($main-bg-color, 10%) !default;
$accent-color       : #E08A1E !default;