

@media (orientation: landscape) and (max-height: 600px) {

    .header__title {
        padding-top: 5%;
        line-height: 1;
    }

    .header {
        nav {
            bottom: 5%;
        }
    }

    @media (min-width: 800px) {
        .header {
            font-size: 20px;
        }
    }

    @media (max-width: 800px) {
        .header {
            nav {
                width: 76%;
            }
        }
        .page-navigation {
            text-align: $nav-text-align;
            ul {
                display: flex;
                flex-flow: column;
                flex-wrap: wrap;
                height: $nav-items-in-column * 37px;
            }
        }
    }
    
}